---
import Card from "../../../components/Card.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Facturas">
  <div>
    <Card
      create="Facturas"
      read="Facturas"
      update="Facturas"
      deleteOp="Facturas"
    />
  </div>
</Layout>