---

const { create, read, update, delete: deleteOp } = Astro.props;
---

<div class="flex h-screen justify-center items-center">
  <div class="flex gap-6 flex-col text-black">
    <button class="p-2 border border-gray-500 rounded-2xl">{`Crear ${create}`}</button>
    <button class="p-2 border border-gray-500 rounded-2xl">{`Obtener ${read}`}</button>
    <button class="p-2 border border-gray-500 rounded-2xl">{`Actualizar ${update}`}</button>
    <button class="p-2 border border-gray-500 rounded-2xl">{`Eliminar ${deleteOp}`}</button>
  </div>
</div>
