<header class="fixed z-10 flex w-full">
    <nav class="w-full flex justify-between p-4 m-4 border border-gray-700 rounded-2xl bg-blue-500">
        <a class="hover:bg-blue-900 p-2 rounded-lg duration-300" href="index.php" class="logo">Montenegro SRL</a>
        
        <ul class="flex gap-4">
            <li class="hover:bg-blue-900 p-2 rounded-lg duration-300"><a href="index.php?page=about">Realizar Compra</a></li>
            <li class="hover:bg-blue-900 p-2 rounded-lg duration-300"><a href="index.php?page=contact">Iniciar Sesión</a></li>
            <li class="hover:bg-blue-900 p-2 rounded-lg duration-300"><a href="index.php?page=login">Registrar</a></li>
        </ul>
    </nav>
</header>