---
import Card from "../../../components/Card.astro";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Empleado">
  <div>
    <Card
      create="Empleado"
      read="Empleado"
      update="Empleado"
      deleteOp="Empleado"
    />
  </div>
</Layout>
